################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Travelo/v17/.futdcache.v2
*.suo
*.wsuo
/.vs/Travelo/v17/DocumentLayout.json
/.vs/Travelo/v17/DocumentLayout.backup.json
/.vs/VSWorkspaceState.json
/.vs/Travelo/CopilotIndices/17.14.1204.46620/CodeChunks.db
/.vs/Travelo/config/applicationhost.config
/.vs/slnx.sqlite
/.vs/ProjectEvaluation/travelo.strings.v9.bin
/.vs/ProjectEvaluation/travelo.projects.v9.bin
/.vs/ProjectEvaluation/travelo.metadata.v9.bin
/.vs/Travelo/CopilotIndices/17.14.1204.46620/SemanticSymbols.db
/.vs/Travelo/DesignTimeBuild/.dtbcache.v2
/.vs/Travelo/FileContentIndex/2efa1277-208f-4f99-9254-d5bb2faedab7.vsidx
/.vs/Travelo/FileContentIndex/546060b9-ec0d-4d3d-b228-adc0dc8e4317.vsidx
/.vs/Travelo/FileContentIndex/b6f41b50-dcf0-495d-b737-162addabe9bf.vsidx
/.vs/Travelo/FileContentIndex/b72afb8f-2401-4ae5-bbd6-cb2bf1e1556c.vsidx
/.vs/Travelo/FileContentIndex/eb927ba6-953d-4d92-b0e5-2d483df0ce4d.vsidx
